<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Randki app</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link">Dopasowanie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Listy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Wiadomości</a>
          </li>
        </ul>

        <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off">
          <input name="username" [(ngModel)]="model.username" class="form-control me-2" placeholder="Nazwa użytkownika">
          <input name="password" [(ngModel)]="model.password"  class="form-control me-2" placeholder="Hasło" type="password">
          <button class="btn btn-outline-success" type="submit">Zaloguj</button>
        </form>
      </div>
  </nav>